h1{
font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color:rgb(105, 22, 47);
}

h2{
font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color:rgb(105, 22, 47);
}

label{
    color:rgb(175, 15, 90);
     font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

form {
  background-color: #171718;
  border-radius: 20px;
  box-sizing: border-box;
  height: 400px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 10px rgb(255, 0, 106),
        0 0 20px rgb(158, 8, 66), 
        0 0 40px rgba(65, 3, 29, 0.7);
        animation: pulse 4s infinite alternate;
}

@keyframes pulse {
  0% { box-shadow: 0 0 10px rgb(255, 0, 106); }
  50% { box-shadow: 0 0 20px rgb(158, 8, 66), 0 0 40px rgba(65, 3, 29, 0.7); }
  100% { box-shadow: 0 0 10px rgb(255, 0, 106); }
}

#colorInput{
font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

}

option{
background-color: blue;
}

#red{
    color:red;
}
#blue{
    color:blue;
}
#green{
    color:green;
}
#purple{
    color:purple;
}

#submitBtn{
   color: white;
   background-color: rgb(182, 27, 86);
   border-color: rgb(255, 255, 255);
   border-radius: 12px;
}

#submitBtn:active {
  background-color: rgb(255, 255, 255);
  color:rgb(182, 27, 86);
  border-color: rgb(182, 27, 86);
  border-radius: 12px;
}

input{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color:white;
}
